<html class="grid" lang="is">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link href="/styles.css" rel="stylesheet">

  <title>Ooops</title>
</head>

<body>
  <main class="skrifa">
      <h1>Gat ekki skráð!</h1>
      <p>Hafðir þú skrifað undir áður?</p>
      <a>Til baka</a>

  </main>
  <script></script>


</body>

</html>