<html class="grid" lang="is">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1" name="viewport" />
  <link href="/styles.css" rel="stylesheet">

  <title>Undirskriftarlisti</title>
</head>

<body>
  <header class="header" id="header">
    <h1 class="header__h1">Undirskriftarlisti
    </h1>
  </header>

  <main class="skrifa">
    <form id="myForm" action="/" method="POST" enctype="application/json">
      <div class="skrifa_textbox">
        <p class="skrifa_lysing">Nafn*</p>
        <input type="text" name="name" class="skrifa_textbox_text">
      </div>
      <div class="skrifa_textbox">
        <p class="skrifa_lysing">Kennitala*</p>
        <input type="text" name="kennitala" class="skrifa_textbox_text" maxlength="11">
      </div>
      <div class="skrifa_textbox">
        <p class="skrifa_lysing">Athugasemd</p>
        <input type="text" name="comment" class="skrifa_textbox_text skrifa_textbox_comment">
      </div>
      <div class="skrifa_checkbox">
        <input type="checkbox" class="skrifa_checkbox_box" name="anonymous">
        <p class="skrifa_checkbox_lysing">Ekki birta nafn รก lista</p>
      </div>
      <div class="skrifa_button">
      <button >
        <p class="skrifa_button_text">Skrifa undir</p>
      </button>
    </div>
    </form>

    <hr class="skrifa_lina">
    <h1 class="skrifa_h1">Undirskriftir</h1>

    <%- include('table') -%>


  </main>
  <script></script>


</body>

</html>