<html class="grid" lang="is"><head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1" name="viewport" />
    <link href="/styles.css" rel="stylesheet">
  
    <title>Undirskriftarlisti</title>
  </head>
  
  <body><header class="header" id="header">
    <h1 class="header__h1">Undirskriftarlisti 
    </h1>
  </header>
  
  <main class="skrifa">
    <div class="skrifa_textbox">
      <p class="skrifa_lysing">Nafn*</p>
      <input type="text" class="skrifa_textbox_text">
    </div>
    <div class="skrifa_textbox">
      <p class="skrifa_lysing">Kennitala*</p>
      <input type="number" class="skrifa_textbox_text">
    </div>
    <div class="skrifa_textbox" >
      <p class="skrifa_lysing">Athugasemd</p>
      <input type="text" class="skrifa_textbox_text skrifa_textbox_comment">
    </div>
    <div class="skrifa_checkbox">
      <input type="checkbox" class="skrifa_checkbox_box">
      <p class="skrifa_checkbox_lysing">Ekki birta nafn รก lista</p>
    </div>
    
    <button class="skrifa_button"><p class="skrifa_button_text">Skrifa undir</h1></button>
    <hr class="skrifa_lina">
    <h1 class="skrifa_h1">Undirskriftir</h1>

    <%- include('table') -%>


  </main>
  <script></script>
  
  
  </body></html>