<table>
    <tr>
        <th>Dags</th>
        <th>Nafn</th>
        <th>Athugasemd</th>
    </tr>
    <%let n = data.length;%>
    <% data.forEach((person) => {%>
        
        
            <tr>

                <td>
                <%- formatDate(person.signed) -%>
                </td>
                <td>
                    <% if(!person.anonymous){%>
                        <%- person.name -%>
                    <%} else {%>
                        nafnlaus
                    <%}%>
                </td>
                <td>
                    <%- person.comment -%>
                </td>
            </tr>
        
    <%})%>
</table>