/* stylelint-disable selector-class-pattern */
html {
  background-color: rgba(255, 255, 236, 255);
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  max-width: 100%;
  overflow-x: hidden;
}

.header {
  display: flex;
  justify-content: center;
}

.header_h1 {
  width: min-content;
}

.skrifa {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skrifa_textbox {
  display: flex;
  justify-content: center;
}

.skrifa_lysing {
  width: 8rem;
}

.skrifa_textbox_text {
  height: 2rem;
  width: 40rem;
}

.skrifa_textbox_comment {
  height: 4rem;
}

.skrifa_checkbox {
  display: flex;
  justify-content: center;
  margin-bottom: 2rem;
  margin-top: 1rem;
}

.skrifa_checkbox_lysing {
  margin: 0;
  margin-left: 0.5rem;
}

.skrifa_button {
  display: flex;
  height: 3rem;
  justify-content: center;
  width: 48rem;
}

.skrifa_button_text {
  font-size: 1.3rem;
  font-weight: bold;
  margin: auto;
}

.skrifa_lina {
  border-top: 1px dashed rgb(109, 85, 54);
  width: 48rem;
}

/*******  Table  ***********/
table {
  border-collapse: collapse;
  font-family: arial, sans-serif;
  width: 48rem;
}

td,
th {
  border: 1px solid #000;
  padding: 8px;
  text-align: left;
}

@media all and (max-width: 900px) {
  .skrifa_lysing {
    width: 10vw;
  }

  .skrifa_textbox_text {
    width: 85vw;
  }

  .skrifa_button {
    max-width: 90vw;
  }

  .skrifa_button_text {
    font-size: 1.3rem;
  }

  .skrifa_lina {
    width: 95vw;
  }

  table {
    width: 95vw;
  }
}
